{% extends "main/header.html" %}
{% load static %}
{% block title %}About Me{% endblock %}
{% block content %}
<!-- About Section end -->
	<section class="about-section">
		<div class="about-warp">
			<div class="about-left">
				<div class="about-img">
					<img src="{% static 'main/img/about.jpg' %}" alt="">
				</div>
				<div class="profile-text text-white">
					<h2>Hello!</h2>
					<h2>I’m <strong>Glen Cross</strong></h2>
					<p>I photograph very instinctively. I see how it is taken like that. I do not follow certain styles, philosophies or teachers.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
					<a href="#" class="profile-btn">Say Hello</a>
					<a href="#" class="profile-email">myportfolio@gmail.com</a>
				</div>
			</div>
			<div class="about-right">
				<div class="about-text">
					<h2>About Me</h2>
					<p>During your engagement shoot or portrait session I will assist and direct you through posing and expression to get you and your fiancée / partner comfortable in front of the camera so we can incorporate both posed and natural moments on your special day. </p>
					<p>From a fashion forward shoot to a more reserved traditional style, I am here for you.</p>
					<p>I love trying creative things in a fast paced environment. I adapt to any given situation and try to bring the beauty out that is already there. This is your day, lets have fun with it and make memories.</p>
					<p>I have won a boatload of awards for my work, and I’m grateful for every single one of them, but I’ve always been unsure of whether I earned them or whether the jury was rigged.  By now I am literally addicted to making photos…for which there is no known cure, except to make more.</p>
					<p>I have won a boatload of awards for my work, and I’m grateful for every single one of them, but I’ve always been unsure of whether I earned them or whether the jury was rigged.  By now I am literally o bring the beauty out that is already there. This is your day, lets have fun with it and make memories.</p>
					<p>I have won a boatload of awards for my work, and I’m grateful for every single one of them, but I’ve always been unsure of whether I earned them or whether the jury was rigged.  By now I am literally addicted to making photos…for which there is no known cure, except to make more.</p>
					<p>I have won a boatload of awards for my work, and I’m grateful for every single one of them, but I’ve always been unsure of whether I earned them or whether the jury was rigged.</p>
					<h2 class="pt-5">My Skills</h2>
				</div>
				<div class="skill-warp text-center">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<div class="circle-item">
								<div class="circle-progress" data-cpid="id-1" data-cpvalue="90" data-cpcolor="#2916e0"></div>
								<h4>Photoshop</h4>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="circle-item">
								<div class="circle-progress" data-cpid="id-2" data-cpvalue="95" data-cpcolor="#2916e0"></div>
								<h4>Make Up</h4>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="circle-item">
								<div class="circle-progress" data-cpid="id-3" data-cpvalue="80" data-cpcolor="#2916e0"></div>
								<h4>Fashion</h4>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="circle-item">
								<div class="circle-progress" data-cpid="id-4" data-cpvalue="85" data-cpcolor="#2916e0"></div>
								<h4>Photography</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About Section end -->
{% endblock %}