{% extends "main/header.html" %}
{% load static %}
{% block title %}Gallery{% endblock %}
{% block content %}
<!-- Gallery Section end -->
	<section class="gallery-section">
		<div class="gallery-header">
			<h4>Gallery</h4>
			<ul class="gallery-filter">
				<li class="filter all active" data-filter="*">All</li>
				<li class="filter" data-filter=".Featured">Featured</li>
				<li class="filter" data-filter=".People">People</li>
				<li class="filter" data-filter=".Nature">Nature</li>
				<li class="filter" data-filter=".Animal">Animal</li>
				<li class="filter" data-filter=".Travel">Travel</li>
			</ul>
		</div>
		<div class="nice-scroll">
			<div class="gallery-warp">
				<div class="grid-sizer"></div>
				{% for p in photos %}
					
				<div class="gallery-item {{p.tag}}">
					
					<a class="fresco" href="{{p.photo.url}}" data-fresco-group="projects">
						<img src="{{p.photo.url}}" alt="">
					</a>
					<div class="gi-hover">
						<img src="{% static 'main/img/gallery/author.jpg' %}" alt="">
						<a href="{% url 'about' %}"><h6>{{p.author}}</h6></a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- Gallery Section end -->

{% endblock %}